@import "modern-normalize.css";

:root {
    --radius: 0.5em;

    --bg: #181818;
    --border: #606060;
}

html,
body {
    background-color: var(--bg);
    color: white;
}

body {
    width: 100%;
    min-height: 100dvh;
}

#content {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson {
    border: 1px solid var(--border);
    border-radius: var(--radius);
}
